@section scripts {

@Scripts.Render(Url.Content("~/Scripts/OntologyTypeahead/Main.js?v=1"))

}

@*https://stackoverflow.com/questions/6835835/jquery-simple-polling-example*@

<div>
    <h1>Ontology Type-ahead Test Page</h1>

</div>
<div id="ontologyHealthGroup" class="row">
    <div class="col-md-2 group-heading">
        API Health
    </div>
    <div id="ontologyHealthIndicator-not-ok" class="col-md-2 status-not-ok" hidden="hidden">
        <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Not OK
    </div>
    <div id="ontologyHealthIndicator-ok" class="col-md-2 status-ok" hidden="hidden">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> OK
    </div>
    <div id="ontologyHealthIndicator-unknown" class="col-md-2 status-not-known">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Unknown
    </div>
    <div class="col-md-5 status-text">
        <div id="ontologyHealthText">
            Ontology API has not been tested
        </div>
    </div>
    <div class="col-md-1">
        <button id="btnPing" class="btn btn-secondary">Ping Ontology API</button>
    </div>
</div>
<hr />
<h3>Jquery-UI</h3>
<div id="a_townsGroup" class="row">
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-2">
        <label for="ontologyTypeahead_a_towns">Towns starting with A</label>
    </div>
    <div class="col-md-2">
        <input id="ontologyTypeahead_a_towns" title="towns starting with a..." />
    </div>
    <div class="col-md-7">
        Using the API to get the data but only rendering the values - not doing anything useful with the IDs
    </div>
</div>
