body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Status DIVs */

div.status-not-ok {
    color: #DD0000;
    background: #FFDDDD;
    border: solid;
    border-color: #DD0000;
    border-radius: 5px 5px 5px 5px;
    padding: 6px 12px;
    text-align: center;
    font-weight: bold;
}

div.status-not-known {
    color: #DD9900;
    background: #FFEEBB;
    border: solid;
    border-color: #DD9900;
    border-radius: 5px 5px 5px 5px;
    padding: 6px 12px;
    text-align: center;
    font-weight: bold;
}

div.status-ok {
    color: #00AA00;
    background: #DDFFDD;
    border: solid;
    border-color: #00AA00;
    border-radius: 5px 5px 5px 5px;
    padding: 6px 12px;
    text-align: center;
    font-weight: bold;
}

div.group-heading {
    padding: 6px 12px;
    font-size: 1.5em;
    font-weight: 500;
    white-space: nowrap;
}
@media (min-width: 992px) {
    div.group-heading {
        text-align: right;
    }
}

div.status-text {
    padding: 6px 12px;
}