<div class="jumbotron">
    <h1>Local.FSharp.Web</h1>
    <h2>Test F# web app for local web shenanigans</h2>
    <small>
        Pure F# ASP.NET web apps are a combination of several excellent technologies that allow you to build complex web applications in less time.
        To make your experience even more appealing, we recommend following the instructions on <a href="http://bloggemdano.blogspot.com/2013/11/adding-new-items-to-pure-f-aspnet.html">this blog post</a>
        and installing the <a href="http://visualstudiogallery.msdn.microsoft.com/f1dae7fe-1ecc-4f1b-86b5-32a2970d012a?SRC=Home">F# Web Item Templates</a>.
    </small>
    <small>To learn more about ASP.NET MVC or Web API visit the <a href="http://go.microsoft.com/fwlink/?LinkId=301870">ASP.NET site</a>.</small>
    <small>To learn more about web programming in F# visit <a href="http://fsharp.org/webstacks/">fsharp.org</a></small>
</div>
<div class="row">
    <div class="col-sm">
        @Html.ActionLink("Type-ahead", "Index", "Typeahead", new { area = "" }, null)
    </div>
</div>
